# Compiled JavaScript files
lib/

# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented dirs separating source and tests for calculating code coverage
lib-cov
coverage

# Clinvar / dbSNP cache, etc.
.env
